<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Femabras | O seu sucesso e o nosso foco</title>
    <link rel="shortcut icon" href="/image/logos/femabras-logo-dark.svg" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="grid-container">
        
        <header class="main-header">
            <section class="banner">
                <div>
                    <p class="secret-number">
                        <% number.forEach(element => { %>
                            <span class="code-block"><%=element%></span>
                        <% }) %>
                    </p>
                </div>
                <div class="user-attempts-count">
                    <p>Tentativas: <%= attempts %></p>
                </div>
            </section>
            <div class="logo-conatiner">
                <img src="/image/logos/femabras-logo-light.svg" alt="femabras logo" width="32px">
            </div>
            <nav class="nav-bar">
                <div class="menu-container hidde">
                    <button class="close-button">X</button>
                    <ul class="desktop-menu">
                        <li><a href="#gi" class="nav-links">Contacto</a></li>
                        <li><a href="#gi" class="nav-links">Início</a></li>
                        <li><a href="#gi" class="nav-links">Quebra Cabeça</a></li>
                        <li><a href="#gi" class="nav-links">Desafios</a></li>
                        <li><a href="#gi" class="nav-links">Nossos Serviços</a></li>
                        <li><a href="#gi" class="nav-links">Patrocínio</a></li>
                        <li><a href="#gi" class="nav-links">Vencedores</a></li>
                        <li><a href="#gi" class="nav-links">Sobre Nós</a></li>
                    </ul>
                </div>
                <button class="mobile-menu">Menu</button>
            </nav>
        </header>
        
        <section class="player-pool"><h2>Online</h2></section>
        <main class="main-section">
            <h2><%= title %></h2>
            <p><%= content %></p>
        </main>
        <section class="chat-pool">
            <div class="chat-response">social interaction</div>
            <input type="text" class="chat-request">
        </section>
        <footer class="main-footer">
            <p class="copyright">&copy;<span id="current-year"></span> femabras. All rights reserved   </p></footer>
        <script src="/js/script.js"></script>
    </div>
</body>
</html>