@font-face {
  font-family: 'Chillax';
  src: url('/fonts/Chillax-Variable.woff2') format('woff2-variations'), url('/fonts/Chillax-Variable.woff2') format('woff2');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}
:root {
  --base-dark: #001514;
  --text-light: #fbfffe;
  --accent-gold: #D4AF37;
  --accent-soft: #003B36;
  --action-red: #FF6B6B;
  --glass-bg: rgba(251, 255, 254, 0.05);
  --text-dark: #001514de;
}
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Global setting */
body {
  font-family: 'Chillax', sans-serif;
  overflow: hidden;
}
.hidde {
  display: none;
}
.show-flex {
  display: flex;
}
/* Grid container */
.grid-container {
    width: 100%;
    height: 100dvh;
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    grid-template-areas: "header" "main" "footer";
}

/** HEADER STYLING SECTION **/
/* grid item: main-header */
.main-header {
  grid-area: header;
}

/* Banner section */
/* secret-number */
/* code block */
/* user-attempts-count */

/* Logo container */

/* Nav-bar styling section */

/* Desktop menu section */

/* desktop menu container */
.menu-container{
  position: absolute;
  height: 100dvh;
  width: 100%;
  inset: 0;
  background-color: var(--glass-bg);
  backdrop-filter: blur(10px);
  
  flex-direction: column;
  gap: 10px;
  list-style: none;
}
/* desktop-menu */

/* list and links styling */
.nav-links {
  text-decoration: none;
  color: var(--base-dark);
  letter-spacing: 0.01rem;
  line-height: 1.6;
  font-weight: 400;
}

/* Mobile menu section */
/* mobile-menu */

/* ONLINE PLAYERS STYLING SECTION */
/* grid-item: player-pool */
.player-pool {
  display: none;
}

/* MAIN STYLING SECTION */
/* grid-item: main-section */
.main-section {
  grid-area: main;
}

/* CHAT STYLING SECTION */
/* grid-item: chat-pool */
.chat-pool {
  display: none;
}

/* Chat response section */
/* chat-response */

/* Chat request section */
/* chat-request */


/* FOOTER STYLING SECTION */
/* grid-item: main-footer */
.main-footer {
    grid-area: footer;
    padding: 10px 0;
    background-color: #001514;
    text-align: center;
}
/* main footer paragraph (p) */
.copyright {
  font-family: 'Chillax', sans-serif;
  font-weight: 300;
  font-size: 0.85rem;
  color: rgba(251, 255, 254, 0.5);
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

/* MEDIA QUERIES FOR LARGE SCREENS */
@media screen and (min-width: 768px) {
}


/* TEMPORAL HOLDING STYLES */
/* p {
    color: rgb(0, 21, 20, 0.85);
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: 0.01rem;
} */